<div id="<%= dom_id facility %>">
  <p>
    <strong>Name:</strong>
    <%= facility.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= facility.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= facility.location %>
  </p>
  
  <p>
    <strong>Pincode:</strong>
    <%= facility.pincode %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= facility.images %>
  </p>

</div>
